Repository a2o/snoopy, pull requests merged in 2021-04, with the labels that each got.

#195 ds/datetime: Add support for optional custom datetime formatting
  configure.ac
  etc/snoopy.ini.in
  src/datasource/datetime.c
  src/datasource/datetime.h
  tests/datasource/Makefile.am
  tests/datasource/datasource_datetime-fmt-epoch.sh
  tests/datasource/datasource_datetime-fmt-static.sh
  tests/datasource/datasource_datetime-fmt-too-long.sh
  tests/datasource/datasource_datetime-fmt-ymd.sh
Labels: /ci run additional tests, Type: Feature

#197 Refactor GitHub issue templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/enhancement-idea.md
  .github/ISSUE_TEMPLATE/support-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  doc/DOCKER-BASED-ISSUE-DEMO-Dockerfile
  doc/DOCKER-BASED-ISSUE-DEMO.md
Labels: Component: GitHub

#198 Fix cmdline datasource overflow
  src/datasource/cmdline.c
Labels: Component: Core Library, Resolution: Done, Type: Bug
